<!--HEADER-->
<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-secondary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item uk-hidden@m">
          <a class="uk-logo" href="#"><img class="custom-logo" src="/img/dashboard-logo-white.svg" alt=""></a>
        </div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="/" class="uk-icon-link" data-uk-icon="icon: home" title="Front Site" data-uk-tooltip></a></li>
          <li><a href="/auth/logout" data-uk-icon="icon:  sign-out" title="Sign Out" data-uk-tooltip></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/HEADER-->