<div class="uk-section uk-section-secondary">
  <div class="uk-container uk-text-center">
    <p class="uk-text-uppercase">We are in Social networks</p>
    <div class="uk-width-auto">
      <a href="https://www.facebook.com/CELANetwork/" target="_blank"><span uk-icon="icon: facebook; ratio: 1.5"
          class="uk-padding-small"></span></a>
      <a href="https://twitter.com/CELA_Network" target="_blank"><span uk-icon="icon: twitter; ratio: 1.5"
          class="uk-padding-small"></span></a>
      <a href="https://www.youtube.com/channel/UCfx4LmpuUfYt8Avh1DgjY8A" target="_blank"><span
          uk-icon="icon: youtube; ratio: 1.5" class="uk-padding-small"></span></a>
      <a href="https://www.instagram.com/cela_network/" target="_blank"><span uk-icon="icon: instagram; ratio: 1.5"
          class="uk-padding-small"></span></a>
      <a href="https://t.me/celanetwork" target="_blank"><span uk-icon="icon: telegram; ratio: 1.5"
          class="uk-padding-small"></span></a>
    </div>
  </div>
</div>
</div>

<script src="/public/uikit/js/uikit.min.js"></script>
<script src="/public/uikit/js/uikit-icons.min.js"></script>
<script src="/public/pikaday/pikaday.js"></script>
<script src="/js/app.js"></script>