<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - UIkit 3 KickOff</title>
  <link rel="icon" href="img/favicon.ico">
  <!-- CSS FILES -->
  <link rel="stylesheet" href="/public/uikit/css/uikit.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login-dark.css">
</head>

<body
  class="login uk-cover-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-overflow-hidden uk-light"
  data-uk-height-viewport>
  {{{ body }}}

  <script src="/public/uikit/js/uikit.min.js"></script>
  <script src="/public/uikit/js/uikit-icons.min.js"></script>
</body>

</html>