<p>Dear {{fullName}},</p>

<p>Thank you so much for applying to facilitate at CELA 15! We have received your application and appreciate your
  interest very much. </p>
<p>The facilitator selection process will begin as soon as the application period closes and you will be notified by
  email of the results by May 10, 2021.</p>
<p>For any questions, please contact info@celanetwork.org .</p>

<p>Thanks so much,<br>
  <b>CELA Network</b>
</p>